@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* Primary Branding */
	--color-primary: #d5922d;
	--color-primary-content: #ffffff;

	--color-secondary: #1b263b;
	--color-secondary-content: #e0e1dd;

	/* Semantic Surface Colors - Linked to variables below */
	--color-background: var(--bg-main);
	--color-background-surface: var(--bg-surface);
	--color-text-main: var(--text-main);

	/* Borders & Accents */
	--color-border: color-mix(in srgb, var(--color-primary), transparent 80%);
}

@layer base {
	:root {
		--bg-main: #ffffff; /* Pure white background */
		--bg-surface: #f8f9fa; /* Off-white for cards/sections */
		--text-main: #1b263b; /* Deep navy text for readability */
	}

	.dark {
		--bg-main: #0d131d; /* Deepest navy background */
		--bg-surface: #161e2b; /* Slightly lighter navy for cards */
		--text-main: #e0e1dd; /* Soft white text */
	}

	::-moz-selection {
		background-color: var(--color-primary);
		color: var(--color-secondary);
	}

	::selection {
		background-color: var(--color-primary);
		color: var(--color-secondary);
	}

	body {
		@apply bg-background;
		font-family: sans-serif;
	}

	a,
	button {
		cursor: none;
	}

	html,
	.scrollbar-hidden {
		overflow-y: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	html::-webkit-scrollbar,
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
}
